
<br>
Group A (4)
<br>
[('최지영', 'y'), ('김희원', 'y'), ('이종혁', 'y'), ('김병선', 'y')]
<br>

<br>
Group B (4)
<br>
[('박기성', 'y'), ('이하진', 'y'), ('박창해', 'y'), ('이종화', 'y')]
<br>

<br>
Group C (4)
<br>
[('최정희', 'y'), ('박성휘', 'y'), ('김기석', 'y'), ('백창수', 'y')]
<br>

<br>
Group D (4)
<br>
[('제이슨', 'y'), ('이희욱', 'y'), ('천복영', 'y'), ('김남원', 'y')]
<br>

<br>
Group E (4)
<br>
[('박희규', 'y'), ('이병석', 'y'), ('정철희', 'y'), ('박재희', 'y')]
<br>

<br>
Group F (4)
<br>
[('이경욱', 'y'), ('송인혁', 'y'), ('김형준', 'y'), ('류여호수아', 'y')]
<br>

<br>
Group G (4)
<br>
[('이강환', 'y'), ('김현진', 'y'), ('박창범', 'y'), ('이한', 'y')]
<br>

<br>
Group H (4)
<br>
[('강필진', 'y'), ('고연진', 'y'), ('백다빈', 'y'), ('이진호', 'r')]
<br>
