<!DOCTYPE html>
<html lang="en">
<head>
<!--link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet"-->
<style>
.container{
  width:100%;    
  overflow:auto;
}
.container textarea{
  border : 2px solid black;
}

.container span{
  display:block;
  text-align:left;
}

.onefourth{
  float:left;
  width:25%;    
}


.onethird{
  float:left;
  width:30%;    
}


.lefthalf{
  float:left;
  width:70%;    
}
.rightalign{
  float:right;
  width:60%;    
}
.righthalf{
  float:right;
  width:30%;    
}

.textAreaColumn{
  width:100%;    
}
.textAreaColumn div{
  float:left;
  width:25%;
  padding:10px;
  box-sizing: border-box;
}

.inline-div span{
  display:block;
  text-align:center;
}

.inline-div {
  display:inline-block;
}
.output-txtarea {
  resize:none;
  border-radius:5px;
  border-color:blue;
  border-style:dotted;
  height:auto;
}

.inline-txtarea {
  resize:none;
  border:2px solid black;
  height:auto;
}

</style>
</head>
<body>
<div class="header">
  <h3 class="text-muted">UTATP Rank Manager v30.0</h3>
</div>
<br/>
<div class="container">
  <div class="righthalf">
    <div> <!--right-inner-->
      <br>
      <form action="single" method="post" enctype="multipart/form-data">
        <span>[Single Challenge]</span>
        Previous Results<br>
        {% for histitem in content.single_history %} 
        {{histitem}}<br>
        {% endfor %}
        <span>Put single result here (e.x.. 이진호 김희원 0:17)</span>
        <textarea type="text" name="single" cols="60" rows="5" class="inline-txtarea">
        </textarea>
        <input type="submit" value="Process">
        <br>
        (Save ranking before/after processing this)
      </form>
    </div><!--right-inner-->
    <br>
    <br>
  </div> <!--right-->

  <div class="rightalign">
    <div> <!--inner1-->

      <form action="readme" method="post" enctype="multipart/form-data">
        <input type="submit" value="Download HOWTO">
      </form>

      <br>
      recent saved files:
      <br>
      {% for rankfile in content.rankfiles %}
      {{rankfile}}
      <br>
      {% endfor %}

      <form action="pre" method="post" enctype="multipart/form-data">
        <textarea type="text" name="loadname" cols="60" rows="1" class="inline-txtarea">
        </textarea>
        <br>
        <input type="submit" value="0. Restore saved data ">
      </form>
      <br>
      <br>
      <br>


      <div>  <!--weekly-->
        <form action="weekly" method="post" enctype="multipart/form-data">
          <div class="lefthalf">
            <!--input type="text" name="text"-->
            <div>
              <input type="submit" value="1. Save">
            </div>
            <div class="inline-div">
              <span>Current ranking</span>
              {% for player in content.players %}
              <textarea type="text" name="players" width=100% cols="12" rows="1" class="inline-txtarea">{{player}}
              </textarea>
              <br>
              {% endfor %}
            </div> <!--inline-div-->
            <div class="inline-div">
              <span>Input y,c,n,x,l</span>
              <span>(l: long-term absence) </span>
              <span>(d: remove from list) </span>
              {% for status in content.status %}
              {{status}}
              <textarea type="text" name="status" width=100% cols="3" rows="1" class="inline-txtarea">
              </textarea>
              <br>
              {% endfor %}
            </div>  <!--inline-div-->
            <div>
              <input type="submit" value="1. Save">
            </div>
          </div> <!--left-->
          <div class="righthalf">
            <div class="inline-div">
              <span>Returners</span>
              <textarea type="text" name="returners" width=100% rows="10" class="inline-txtarea">{{content.returners}}
              </textarea>
            </div>
            <div class="inline-div">
              <span>Previous rank </span>
              <textarea type="text" name="returnrank" cols="9" rows="10" class="inline-txtarea">{{content.returnrank}}
              </textarea>
            </div>  <!--"inline-div-->

            <br>
            <br>
            <br>
            <br>
            <div>
              <span>D.L</span>
              <textarea type="text" name="DL" width=100% rows="10" >{{content.DL}}
              </textarea>
            </div>

          </div> <!--right-->
        </form>




      </div> <!--weekly-->


      <br>

    </div><!--inner1-->

  </div><!--large left-->
</div><!--container-->


<div class=container>
  <div class=lefthalf>
    <br>
    <br>
    <form action="five" method="post" enctype="multipart/form-data">
      <input type="submit" value="2. Make five-member groups">
    </form>
    <br>

    There are {{content.num_fives}} five-member groups
    <br>
    Last rotation: {{content.fiverotation}}
    <br>

    <form action="assign" method="post" enctype="multipart/form-data">
      <span>Input this week's Five-member group (default: returners group+rotations)</span>
      <textarea type="text" name="fivegroups" cols="60" rows="5" class="inline-txtarea">{{content.fivegroups}}
      </textarea>
      <!--input type="submit" value="Save this five-rotation"-->


      <div>
        <input type="submit" value="3. Assign Groups">
      </div>
    </form>

    <br>
  </div> <!--lefthalf-->
</div><!--container-->
  <br>
<div class=container>
  assigned groups: (copy-n-paste)
  <br>
    <textarea type="text" name="groups_all" style="border:dotted 2px orange;font-size: 12pt" cols="20" rows="45" readonly>{{content.groups_all}}
    </textarea>
</div><!--container-->
<br>
<br>
<div class=container>
  <div class="onethird">
    <span>Assigned groups </span>
  </div>
  <div class="onethird">
    <span>  saved score</span>
  </div>

  <div class="onethird">
    Input new score here
    <br>
  </div>
</div><!--container-->

<div class=container>
  <div class="onethird">
  {%- for group in content.group -%}
  <div>
    <textarea type="text" name="groups" style="border:dotted 2px orange;font-size: 12pt;height:200px" cols="20" readonly>{{group}}
    </textarea>
  </div>
  {% endfor %}
  </div>
  <div class="onethird">
  {%- for group in content.group -%}
  <div>
    <textarea type="text" name="saved_score" style="border:dotted 2px orange;font-size: 12pt;height:200px" cols="20" readonly>{{content.scores[loop.index0]}}</textarea>
  </div>
  {% endfor %}
  </div>

  <div class="onethird">
    <form action="save_score" method="post" enctype="multipart/form-data">
  {%- for group in content.group -%}
  <div>
      <textarea type="text" name="teamscore" style="font-size: 12pt;height:200px" cols="20" class="inline-txtarea"></textarea>
  </div>
  {% endfor %}
      <input type="submit" value="4. Save Score">
    </form>
    <br>
  </div>
</div><!--container-->
  <br>
  <br>

<form action="calc" method="post" enctype="multipart/form-data">
  <input type="submit" value="5. Calculate!">
</form>
<div class="container">
  <div class="onefourth">
    <span>Pre-Match rank</span>
    <textarea type="text" name="group" style="border:dotted 2px orange;" cols="60" rows="60" class="inline-txtarea" readonly>{{content.prematch}}
    </textarea>
  </div>
  <div class="onefourth">
    <span>Scores </span>
    <textarea type="text" name="group" style="border:dotted 2px orange;"  cols="60" rows="60" class="inline-txtarea" readonly>{{content.score}}
    </textarea>
  </div>
  <div class="onefourth">
    <span>Post-Match rank</span>
    <textarea type="text" name="group"  style="border:dotted 2px orange;" cols="60" rows="60" class="inline-txtarea" readonly>{{content.postmatch}}
    </textarea>

  </div>
  <div class="onefourth">
    <span>For Copy-n-Paste:</span>
    <textarea type="text" name="group"  style="border:dotted 2px orange;" cols="60" rows="60" class="inline-txtarea" readonly>{{content.result_all}}
    </textarea>

  </div>


  <br><br>
  <br>
  <br>
  <br>
  <br>
</div>
<div float='right'>
  <form action="savepost" method="post" enctype="multipart/form-data">
    save filename : <textarea type="text" name="newrankname" cols="60" rows="1" class="inline-txtarea">
      {{content.date}}
    </textarea>
    <input type="submit" value="6. Save new rank">
  </form>
</div>

<div>Patch Note<br>
  2018.01.10 v32.0 new returner rule, bugfix for score input <br>
  2017.09.17 v30.0 plug in DB for stat tracking <br>
  2017.09.10 v21.f you can input 'Y' instead of 'y' <br>
  2017.09.09 v21.e clear the scores on new assign<br>
  2017.08.26 v21.d bugfix on score display<br>
  2017.08.13 v21.c Support for better copy and paste<br>
  2017.08.07 v21.b cleanup for internal code. Probably more maintainable and readible<br>
  2017.07.28 v21.0 code "d" for removing from list<br>
  2017.07.10 v20.3 orange dotted boxes are read-only<br>
  2017.07.10 v20.2 web page restructure for mobile access<br>
  2017.07.09 v20.1 single play bugfix<br>
  2017.07.09 v20.0 individual scores<br>
  2017.07.08 v18.4 individual attendance  <br>
  2017.03.28 v18.3 Put dates  <br>
  2017.03.28 v17.5 Auto DL management <br>
  2017.03.28 v14.3 Small fix on loads<br>
  2017.03.28 v14.1 Single result history<br>
  2017.03.28 v13.7 Correct way to use template in Flask<br>

</div>



</body>
</html>

