pre-match ranks
<br>
1: ('최지영', 'y')
<br>
2: ('김희원', 'y')
<br>
3: ('이종혁', 'y')
<br>
4: ('김병선', 'y')
<br>
5: ('박기성', 'y')
<br>
6: ('정훈', 'c')
<br>
7: ('이기범', 'n')
<br>
8: ('이하진', 'y')
<br>
9: ('최혁준', 'n')
<br>
10: ('박창해', 'y')
<br>
11: ('이종화', 'y')
<br>
12: ('최정희', 'y')
<br>
13: ('박성휘', 'y')
<br>
14: ('김기석', 'y')
<br>
15: ('백창수', 'y')
<br>
16: ('제이슨', 'y')
<br>
17: ('이희욱', 'y')
<br>
18: ('천복영', 'y')
<br>
19: ('김남원', 'y')
<br>
20: ('임병준', 'c')
<br>
21: ('송주식', 'n')
<br>
22: ('박희규', 'y')
<br>
23: ('손채훈', 'c')
<br>
24: ('이병석', 'y')
<br>
25: ('정철희', 'y')
<br>
26: ('박재희', 'y')
<br>
27: ('이경욱', 'y')
<br>
28: ('송인혁', 'y')
<br>
29: ('김형준', 'y')
<br>
30: ('류여호수아', 'y')
<br>
31: ('이강환', 'y')
<br>
32: ('김현진', 'y')
<br>
33: ('박창범', 'y')
<br>
34: ('이한', 'y')
<br>
35: ('백이슬', 'n')
<br>
36: ('강필진', 'y')
<br>
37: ('김경호', 'c')
<br>
38: ('백기헌', 'n')
<br>
39: ('고연진', 'y')
<br>
40: ('구본환', 'n')
<br>
41: ('백다빈', 'y')
<br>
42: ('이진호', 'r')
<br>
43: ('고희경', 'x')
<br>

<br>

<br>
match scores
<br>

<br>
Group A
<br>
1: 김희원	2 Wins 7 pts
<br>
2: 최지영	2 Wins 5 pts
<br>
3: 김병선	2 Wins -1 pts
<br>
4: 이종혁	0 Wins -11 pts
<br>

<br>
Group B
<br>
1: 박창해	2 Wins 7 pts
<br>
2: 이하진	2 Wins 5 pts
<br>
3: 박기성	2 Wins -3 pts
<br>
4: 이종화	0 Wins -9 pts
<br>

<br>
Group C
<br>
1: 김기석	2 Wins 6 pts
<br>
2: 박성휘	2 Wins 4 pts
<br>
3: 백창수	2 Wins 2 pts
<br>
4: 최정희	0 Wins -12 pts
<br>

<br>
Group D
<br>
1: 천복영	3 Wins 8 pts
<br>
2: 이희욱	1 Wins 0 pts
<br>
3: 제이슨	1 Wins -4 pts
<br>
4: 김남원	1 Wins -4 pts
<br>

<br>
Group E
<br>
1: 박재희	2 Wins 5 pts
<br>
2: 박희규	2 Wins 1 pts
<br>
3: 정철희	2 Wins 1 pts
<br>
4: 이병석	0 Wins -7 pts
<br>

<br>
Group F
<br>
1: 류여호수아	2 Wins 5 pts
<br>
2: 김형준	2 Wins 3 pts
<br>
3: 이경욱	2 Wins 1 pts
<br>
4: 송인혁	0 Wins -9 pts
<br>

<br>
Group G
<br>
1: 이강환	2 Wins 6 pts
<br>
2: 김현진	2 Wins 6 pts
<br>
3: 박창범	2 Wins 4 pts
<br>
4: 이한	0 Wins -16 pts
<br>

<br>
Group H
<br>
1: 이진호	3 Wins 9 pts
<br>
2: 백다빈	1 Wins 1 pts
<br>
3: 강필진	1 Wins -3 pts
<br>
4: 고연진	1 Wins -7 pts
<br>

<br>
Here are final ranks :
<br>
1 : ('김희원', 'A1')
<br>
2 : ('최지영', 'A2')
<br>
3 : ('박창해', 'B1')
<br>
4 : ('김병선', 'A3')
<br>
5 : ('이하진', 'B2')
<br>
6 : ('정훈', 'c')
<br>
7 : ('이종혁', 'A4L')
<br>
8 : ('이기범', 'n')
<br>
9 : ('김기석', 'C1')
<br>
10 : ('최혁준', 'n')
<br>
11 : ('박기성', 'B3')
<br>
12 : ('박성휘', 'C2')
<br>
13 : ('이종화', 'B4L')
<br>
14 : ('천복영', 'D1')
<br>
15 : ('백창수', 'C3')
<br>
16 : ('이희욱', 'D2')
<br>
17 : ('최정희', 'C4L')
<br>
18 : ('박재희', 'E1')
<br>
19 : ('제이슨', 'D3')
<br>
20 : ('임병준', 'c')
<br>
21 : ('김남원', 'D4')
<br>
22 : ('송주식', 'n')
<br>
23 : ('손채훈', 'c')
<br>
24 : ('박희규', 'E2')
<br>
25 : ('류여호수아', 'F1')
<br>
26 : ('정철희', 'E3')
<br>
27 : ('김형준', 'F2')
<br>
28 : ('이병석', 'E4L')
<br>
29 : ('이강환', 'G1')
<br>
30 : ('이경욱', 'F3')
<br>
31 : ('김현진', 'G2')
<br>
32 : ('송인혁', 'F4L')
<br>
33 : ('이진호', 'H1')
<br>
34 : ('박창범', 'G3')
<br>
35 : ('백다빈', 'H2')
<br>
36 : ('백이슬', 'n')
<br>
37 : ('김경호', 'c')
<br>
38 : ('이한', 'G4L')
<br>
39 : ('백기헌', 'n')
<br>
40 : ('강필진', 'H3')
<br>
41 : ('구본환', 'n')
<br>
42 : ('고연진', 'H4')
<br>
43 : ('고희경', 'x')
<br>
