6 4 
<br>
3 6
<br>
6 0
<br>

<br>
0 6 
<br>
7 5
<br>
7 6
<br>

<br>

<br>
1 6 
<br>
3 6
<br>
2 6
<br>

<br>
2 6
<br>
6 4
<br>
5 7
<br>

<br>
6 3
<br>
7 6
<br>
3 6
<br>

<br>
6 3
<br>
6 4
<br>
2 6
<br>

<br>

<br>
1 6
<br>
6 1
<br>
6 0
<br>

<br>
6 3
<br>
6 7
<br>
1 6
<br>

<br>
