<!DOCTYPE html>
<html lang="en">
<head>
<!--link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet"-->
<style>
.container{
  width:100%;    
  overflow:auto;
}
.container textarea{
  border : 2px solid black;
}

.container span{
  display:block;
  text-align:left;
}

.onefourth{
  float:left;
  width:25%;    
}


.oneeightth{
  float:left;
  width:10%;    
}


.onethird{
  float:left;
  width:30%;    
}


.lefthalf{
  float:left;
  width:70%;    
}
.rightalign{
  float:right;
  width:60%;    
}
.righthalf{
  float:right;
  width:30%;    
}

.textAreaColumn{
  width:100%;    
}
.textAreaColumn div{
  float:left;
  width:25%;
  padding:10px;
  box-sizing: border-box;
}

.inline-div span{
  display:block;
  text-align:center;
}

.inline-div {
  display:inline-block;
}
.output-txtarea {
  resize:none;
  border-radius:5px;
  border-color:blue;
  border-style:dotted;
  height:auto;
}

.inline-txtarea {
  resize:none;
  border:2px solid black;
  height:auto;
}

</style>
</head>
<body>
<div class="header">
  <h3 class="text-muted">USTATP (유스탭) v0.1</h3>
</div>
<br/>

<span>Attendance</span>
<div class="container">
  <form action="attendance" method="post" enctype="multipart/form-data">
    <div class="oneeightth">
      <span>Name</span>
      <textarea type="text" name="atte_name" style="border:dotted 2px ;"  rows="6" class="inline-txtarea" >
      </textarea>
    </div>
    <div class="oneeightth">
      <span>Date_start (yymmdd)</span>
      <textarea type="text" name="atte_start" style="border:dotted 2px ;"   rows="6" class="inline-txtarea" >
      </textarea>
    </div>
    <div class="oneeightth">
      <span>Date_end (yymmdd)</span>
      <textarea type="text" name="atte_end"  style="border:dotted 2px ;"  rows="6" class="inline-txtarea" >
      </textarea>

    </div>
    <input type="submit" value="Search Attendance">
  </form>
</div> <!--container-->

<span>Game Stats</span>
<div class="container">
  <form action="gamestat" method="post" enctype="multipart/form-data">
    <div class="oneeightth">
      <span>Name</span>
      <textarea type="text" name="games_name" style="border:dotted 2px ;"  rows="6" class="inline-txtarea" >
      </textarea>
    </div>
    <div class="oneeightth">
      <span>Date_start (yymmdd)</span>
      <textarea type="text" name="games_start" style="border:dotted 2px ;"   rows="6" class="inline-txtarea" >
      </textarea>
    </div>
    <div class="oneeightth">
      <span>Date_end (yymmdd)</span>
      <textarea type="text" name="games_end"  style="border:dotted 2px ;"  rows="6" class="inline-txtarea" >
      </textarea>
    </div>
    <div class="oneeightth">
      <span>GroupName (A, B..)</span>
      <textarea type="text" name="games_group"  style="border:dotted 2px ;"  rows="6" class="inline-txtarea" >
      </textarea>
    </div>

    <div class="oneeightth">
      <span>Group size (4 or 5)</span>
      <textarea type="text" name="games_groupsize"  style="border:dotted 2px ;"  rows="6" class="inline-txtarea" >
      </textarea>
    </div>
    <div class="oneeightth">
      <span>Partner</span>
      <textarea type="text" name="games_partner"  style="border:dotted 2px ;"  rows="6" class="inline-txtarea" >
      </textarea>
    </div>
    <div class="oneeightth">
      <span>Opponent1 </span>
      <textarea type="text" name="games_oppo1"  style="border:dotted 2px ;"  rows="6" class="inline-txtarea" >
      </textarea>
    </div>
    <div class="oneeightth">
      <span>Opponent2 </span>
      <textarea type="text" name="games_oppo2"  style="border:dotted 2px ;"  rows="6" class="inline-txtarea" >
      </textarea>
    </div>
    <input type="submit" value="Search Gamestats">
  </form>
</div> <!--container-->
<span> {{content.keywords}}</span>
<br>
<span> {{content.stats}}</span>
<br>
<br>
search results:
<br>
{% for atte in content.search_result%}
  <span>
    {{atte}} <br>
  </span>
{% endfor %}



  <br><br>
  <br>
  <br>
  <br>
  <br>
<div float='right'>
  <form action="duo" method="post" enctype="multipart/form-data">
    <input type="submit" value="find duo">
  </form>
</div>

<div>Patch Note<br>
  2017.09.17 USTATP</div>



</body>
</html>

